<html>
<head>

<title>Bookmark manager</title>
	<link rel="stylesheet" type="text/css" href="/css/application.css">
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
</head>
<body>
	<%= erb :header %>
	<%= erb :flash %>
	<%= yield %>
</body>
</html>
